/* Navbar.css */

nav {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BBD8DE;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav__logo {
    font-size: 2rem;
    font-weight: 600;
    color: #0d213f;
    cursor: pointer;
}

.nav__logo span {
    color: #3685fb;
}

.nav__icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    position: relative; /* Ensure relative positioning for absolute children */
}

.link a {
    padding: 0 1rem;
    color: #0d213f;
    transition: 0.3s;
}

.link a:hover {
    color: #3685fb;
}

.navbar-dropdown {
    position: absolute;
    top: calc(100% + 10px); /* Adjust spacing from the parent link */
    left: 0;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    display: none; /* Initially hide the dropdown */
    min-width: 200px; /* Adjust minimum width as needed */
}

.welcome-user:hover .navbar-dropdown {
    display: block;
}

.dropdown-menu {
    padding: 8px 0;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.dropdown-menu li {
    display: block;
    width: 100%; /* Adjust width for dropdown items */
    padding: 5px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #2190ff;
}

.fa-caret-down,
.fa-caret-up {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.nav__links .welcome-user:hover .fa-caret-up {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .nav__logo {
        margin-right: auto;
    }

    .nav__icon {
        display: block;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .nav__links.active {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: auto;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        animation: slideDown 0.5s ease-in-out;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn1 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
}

.btn1:hover {
    background-color: #3685fb;
    color: white;
}

.btn2 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.btn2:hover {
    background-color: #3685fb;
    color: white;
}
